<ion-view view-title="Início">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear icon ion-android-person" ng-click="vm.openProfile()">
			{{vm.login | uppercase}}
		</button>
	</ion-nav-buttons>
	
	<ion-content>

		<div class="box blue home-hello" style="text-align: center; padding-top: 10px">
			<img ng-src="{{vm.products[0].pictures[0]}}" style="max-width: 80%;" />
		</div>
		
		<div ng-repeat="e in vm.categories" class="row colums-two">

			<div class="card col home">
				<a class="item item-text-wrap" ng-click="vm.showCart()">
					<h1><i class="ion-gear-b"></i></h1>
					<h2>Pedido</h2>
				</a>
			</div>

			<div class="card col home">
				<a class="item item-text-wrap" ng-click="vm.showProducts(vm.categories[$index])">
					<h1><i class="ion-ios-folder"></i></h1>
					<h2>{{vm.categories[$index].title}}</h2>
				</a>
			</div>

		</div>

		<div class="row">
			<div class="list card col">
				<a href="#/app/map" href="" class="item item-icon-left">
					<i class="icon ion-map"></i>
					Mapa
				</a>

				<a href="#/app/contact-us" class="item item-icon-left">
					<i class="icon ion-ios-information"></i>
					Contato
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>
