<ion-view view-title="Alterar Senha">
	<form novalidate name="formulario">
		<ion-content>
			<ion-list>
	            <ion-item class="item-input item-stacked-label" style="padding: 20px">
	               <span class="input-label"><strong>Login:</strong> {{vm.login}}</span> <br /><br />
	               <input type="password" placeholder="  Nova Senha" ng-model="vm.senha" name="senha" required style="width: 95%">
	                <p ng-show="formulario.senha.$error.required && formulario.senha.$dirty" 
	                class="error-message">
	                    O campo Nova Senha é obrigatório
	                </p>
	            </ion-item>
	        </ion-list>
		</ion-content>

		<div class="bar bar-footer bar-calm" ng-click="vm.alterar(formulario)">
            <div class="title">Alterar</div>
        </div>

	</form>
</ion-view>